.connectWallet {
    padding: 1em;
    font-size: calc(.5em + .5vw);
    border: 0;
    color: white;
    background-color: darkgreen;
    border-radius: 1em;
}

.connectWallet .disconnect {
    background-color: rgba(8, 0, 0, 0.842);
}

.connectWallet:hover {
    background-color: rgb(18, 68, 18);
}

.connectWallet:last-of-type:hover {
    background-color: rgb(18, 68, 18);
}