
.Main{
    width: inherit;
    text-align: center;
}
.Main > * {
    /* width: inherit; */
}

.tab{
    width: fit-content;
    margin: 0 auto;
}

.tab-title{
}

.tab-title > *{
    padding: 1em;
    cursor: pointer;
    background-color: rgba(0,0,0, 0);
    border: 0;
    border-bottom: 1px solid green;
}

.tab-title > *:hover{
    border-radius: 1.25em;
    /* background-color: rgba(0,100,0, .5); */
    box-shadow:0px 2.5px green;
    font-size: 1em;
}
