:root{
    --left-sidebar: -13em;
}
.Sidebar{
    left: var(--left-sidebar);
    position: relative;
}
.Sidebar > * {
    padding: 1em;
    /* margin: 1em; */
    width: inherit;
}
.Sidebar > * >* {
    /* width: inherit; */
}